
body {
	background-color: rgba(1, 97, 113, 1);
    color: rgb(0,0,0);
	font-family: Arial, Helvetica, sans-serif;
}

content {
	background-color: rgba(235, 235, 237, 1);
}

#login { 
  background-color: rgb(235, 235, 237);
  padding: 3em;
  margin-top: 2em;
  border-radius: 5px;
}
button{
   background-color: rgb(157, 213, 203);
   font-size: 1.5em;
   border-radius: 5px;
   border: 1px solid black;
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  box-shadow: 0 1px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: rgba(235, 235, 237, 1);;
        }
        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
          	width: 33.3333333333333333333333333333333333333333333333333333333333333333333%;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }
        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }
        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 6px;
        }
        .header {
            background-color: #F1F1F1;
            text-align: center;
            padding: 20px;
        }

        .column1 {
            float: left;
            width: 75%;
        }
        .column2 {
            float: left;
            width: 24%;
            height: 100%;
        }

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 25px;
          background: #d3d3d3;
          outline: none;
          padding-bottom: 10px;
          padding-top: 10px;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: rgb(1, 97, 113);
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: rgb(1, 97, 113);
          cursor: pointer;
        }
				

   * {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;

}

.whiteBG {
	background: rgb(235, 235, 237);
}

.header h1 {
  position:relative;
  font-size: 50px;
  margin-right: 300px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;

}

/* Add a card effect for articles */
.card {
  background-color: rgb(235, 235, 237);
  padding: 20px;
	margin: 20px;
	border-radius: .25rem;

}

.graphCard {
  background-color: rgb(235, 235, 237);
  margin: 5px;
  border-radius: .25rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: inherit;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {background-color: #016171;}

.button3 {
	background-color: rgb(178,76,90);
		position :relative;
		bottom:18px;
  	color: white;
  	padding: 8px 15px;

		float:right;
  	text-decoration: none;
  	display: inline-block;
  	border: none;
  	font-size: 80px;
}

.large_font{
	font-size: 25pt;
  	color: #016171;
}

.small_font{
	font-size: 20pt;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width:750px) {
            .column1 {
                width: 100%;
            }
            .column2 {
                width: 100%;

            }
        }
