
body { background-color: rgb(1, 97, 113); }

div#login { background-color: #EBEBED;
  padding: 2em;
  margin-top: 2em;
  border-radius: 5px;
}
#logo {
    display: block;
    width: auto;
    height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin: 10px;
	max-width:350px
}
button{
   background-color: #016171;
   font-size: 1.5em;
   border-radius: 5px;
   border: 1px solid black;
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  box-shadow: 0 1px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#container{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
	width: 87%;
	margin-left:auto;
	margin-right:auto;
}
